body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a1420;
  color:#fff;
}

.logo {
  width: 500px;
}

.nodelist {
  width: max-content;
  text-align: center;
}

.nodemap {
  width: 400px;
}

#rcorners1 {
  border-radius: 10px;
  background: #2d3037;
  max-height: 400px;
  text-align: center;
  color: white;
  overflow-y: scroll;
  border-bottom-width: 0;
}
#rcorners1 > :not(caption) > * > * {
  border-bottom-width: 0;
}

.fire {
  color: red;
}

td {
  height: 50px;
}

.no-fire {
  color: #52c305;
}

.links {
  position: relative;
  margin: auto;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #2d3037;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#map {
  display: block;
  margin-left: auto;
  width: 100%;
}

/* Map Stuff */
/* Relative positioning*/
#image-map {
  position: relative;
  margin: 150px auto 20px auto;
}

/* Hide the original tooltips contents */
.pin {
  display: none;
}

/* Begin styling the tooltips and pins */
.tooltip-up,
.tooltip-down {
  position: absolute;
  background: url(https://i.imgur.com/13rZbuk.png);
  width: 25px;
  height: 37px;
}

.tooltip-down {
  background-position: 0 -37px;
}

.tooltip {
  /* display: none; */
  width: 200px;
  cursor: help;
  text-shadow: 0 1px 0 #fff;
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 999;
  margin-left: -115px;
  padding: 15px;
  color: #222;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.7);
  background: #fff1d3;
  background: linear-gradient(top, #fff1d3, #ffdb90);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-bottom: 10px solid #fff1d3;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.tooltip-down .tooltip {
  bottom: 12px;
  top: auto;
}

.tooltip-down .tooltip::after {
  bottom: -10px;
  top: auto;
  border-bottom: 0;
  border-top: 10px solid #ffdb90;
}

.tooltip h2 {
  font: bold 1.3em "Trebuchet MS", Tahoma, Arial;
  margin: 0 0 10px;
}

.tooltip ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* NICE LOOKING BUTTON*/
/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin:20px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}